.incident-row {
  cursor: pointer;

  .severity-tag {
    span {
      padding: 0.5rem;
      margin-bottom: 0.5rem;
      display: inline-block;
      border-radius: 1rem;
      text-transform: uppercase;
      font-size: 0.7rem;
      color: white;
      width: 4rem;
      text-align: center;
    }

    .severe {
      background-color: red;
    }
    .mild {
      background-color: blue;
    }
    .trivial {
      background-color: green;
    }
  }

}