/* You can add global styles to this file, and also import other style files */
$red-100: #FC0001;
$yellow-100: #F8D10A;

.severity-tag {
    span {
      padding: 0.5rem;
      margin-bottom: 0.5rem;
      display: inline-block;
      border-radius: 1rem;
      text-transform: uppercase;
      font-size: 0.7rem;
      color: white;
      min-width: 3rem;
      text-align: center;
    }

    .severe {
      background-color: red;
    }
    .mild {
      background-color: blue;
    }
    .trivial {
      background-color: green;
    }
  }
